# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo

url=`gp url 3000`
hostname="${url:8}"
docker-compose exec -e hostname=$hostname -T mariadb sh -c 'exec mysql -uroot -p"rootsecretpassword" appwrite -e "INSERT INTO _console_platforms VALUES (2,'"'6260031cb459b83f1480'"','"'6260030f877ddd7cb032'"','"'web'"','"'web'"','"''"','"''"','"'localhost'"',1650459420,1650459420)"'
docker-compose exec -e -T mariadb sh -c 'exec mysql -uroot -p"rootsecretpassword" appwrite -e "INSERT INTO _console_platforms_perms VALUES (1,'"'read'"','"'role:all'"','"'6260031cb459b83f1480'"'), (2,'"'write'"','"'role:all'"','"'6260031cb459b83f1480'"');"'
docker-compose exec -T redis redis-cli del cache-_console:projects:6260030f877ddd7cb032
docker-compose exec -e -T mariadb sh -c 'exec mysql -uroot -p"rootsecretpassword" appwrite -e "select * from _console_platforms"'
INSERT INTO _console_platforms_perms VALUES (1,'read','role:all','6260031cb459b83f1480'), (2,'write','role:all','6260031cb459b83f1480');